@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: black;
  color: aliceblue;
  justify-content: space-evenly;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
.white {
  color: #1e1e1e;
  background-color: white;
}
.black {
  color: rgb(212, 212, 212);
  background-color: black;
}
.dark {
  color: aliceblue;
  background-color: #323232;
}
.darkGrey {
  position: relative;
  background-image: url(./assets/dev.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: rgb(212, 212, 212);
  padding-bottom: 2rem;
  z-index: 0;
  overflow: hidden;
}

.darkGrey::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* assombrit l'image */
  z-index: -1;
}
.whiteGrey {
  background-color: #535353;
  color: black;
}
.darkShadow {
  text-shadow: 5px 5px 1px rgb(97, 97, 97);
}
.clearShadow {
  text-shadow: 5px 5px 1px rgb(190, 189, 189);
}

/* caroussel */
/* Styles pour le carrousel */

.slick-slider {
  margin: 0 auto;
  width: 80%;
  /* height: 80%; */
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.projetBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projetBox article {
  width: 100%;
  padding: 0;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: #494949;
}

strong {
  font-size: 1rem;
}
